:root{
    --primary-color: rgb(245, 253, 255);
}

*{
    outline: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    position: relative;
    background: rgb(246, 248, 255);
}
.backButtonContainer{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    .subContainer{
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 1000px;
        .backBtn{
            position: absolute;
            bottom: 0;
            right: 0;
            margin-bottom: 7rem;
            margin-right: 2rem;
            z-index: 1000;
        
            height: 4rem;
            width: 4rem;
            border: 0;
            background: #5f5f5f;
            border-radius: 40px;
            transition: width 280ms;
        
            box-shadow: 0px 5px 10px #0000003b;
        
            font-family: 'Raleway', sans-serif;
            letter-spacing: .1rem;
        }
    }
}

header{
    width: calc(100% - 2rem);
    height: 60px;
    position: fixed;
    display: flex;
    z-index: 1000;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: center;

    //Font
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .1rem;
    text-transform: uppercase;
    a, label{
        margin-top: 1rem;
        border: 0;
        font-size: 1.2rem;
        font-family: 'Raleway', sans-serif;
        letter-spacing: .1rem;
        
        //clip-path: circle();
        background: transparent;
        color: #818181;
        padding-bottom: .2rem;
        transition: color 280ms, border-bottom 280ms;
        margin-left: 1.5rem;
    }
    a::after, label::after{
        content: "";
        display: block;
        border-bottom: 3px solid #818181;
        transition: transform 280ms ease-out, border-bottom-color 280ms;
        transform: translateY(5px) scaleX(0%);
    }
    a:hover::after, label:hover::after{
        transform: translateY(5px) scaleX(100%);
        border-bottom-color: #131313;
    }
    a:hover, label:hover{
        color: #131313;
    }
}

input{
    margin-top: .5rem;
    padding: .5rem 1rem .3rem 0rem;
    border: 2px solid grey;
    background: transparent;
    //border-radius: 50px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 16rem;
}

.wrapper{
    width: 100%;
    max-width: 1000px;
    position: relative;
}

.headerWrapper{
    width: calc(100% - 2.5rem);
    //background: lightblue;
    margin-right: 2.5rem;
}

.heading, .panelInfo, .dashboard, .addComponentPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
}

.dashboard,
.addComponentPanel{
    margin-top: 1rem;
    transition: display 280ms, opacity 280ms;
}

.compoList{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    //background: red;

    .row{
        width: calc(100% - 3rem);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 1rem;
        padding: 1rem;
        transition: background 200ms;
    }
    .row:hover{
        background: #dfdfdf;
    }
    .disable{
        position: relative;
        background: #ffe6e6;
    }
    .border{
        border: 1px solid #dfdfdf;
        border-radius: 5px;
        transition: border-color 280ms, box-shadow 280ms;
    }
    .border:hover{
        border-color: transparent;
        box-shadow: 0px 2px 10px #0000001a;
    }
    .separator{
        height: 1px;
        width: calc(100% - 1rem);
        margin-right: 1rem;
        //margin-left: 1rem;
        background: #dfdfdf;
    }
    .col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .price{
            padding: 0;
        }
    }
}

.heading{
    position: fixed;
    top: 0;
    background: #F6F8FF;
    width: 100vw;
    height: 4rem;
}
.panelInfo{
    //background: rgb(211, 211, 211);
    z-index: 69;
    margin-top: 4rem;
    height: 100px;
    //box-shadow: 0px 1px 5px #00000033;
}

.dashboard{
    z-index: -70;
}
.addComponentPanel{
    height: 100vh;
    opacity: 0%;
    //background: red;
    display: none;
}
.vertCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}



.currentPanelTitle{
    //margin-left: 1rem;
}
.bigTitle{
    font-size: 3.5rem;
    font-family: Product Sans;
}
.mediumTitle{
    font-size: 1.6rem;
    font-family: Product Sans;
}
.mediumTitleEx{
    font-size: 1.4rem;
    font-family: Product Sans;
}
.smallTitle{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.smallTitleEx{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.slighlySmallTitle{
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
}


//ComponentInfoPanel
.specsType{
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-bottom: .8rem;
}

.specs{
    font-size: 1.1rem;
    font-family: 'Questrial', sans-serif;
    margin-bottom: .4rem;
}




//componenets
.btn{
    color: grey;
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid;
    display: grid;
    place-content: center;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: 50px;
    width: 7rem;
}
.cardBtn{
    width: 5rem;
    font-size: 1rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    border: 2px solid rgb(189, 189, 189);
    //border: 0;
    border-radius: 1rem;
    //background: rgb(233, 233, 233);
    background: transparent;
    color: rgb(94, 94, 94);
    //box-shadow: 0px 3px 10px #0000002a;
    font-family: Product Sans;
    letter-spacing: .1rem;
    transition: color 280ms, background 280ms, border-color 280ms;
}
.cardBtn:focus,
.cardBtn:hover{
    color: white;
    background: rgb(20, 20, 20);
    border-color: rgb(20, 20, 20);
}

.rm{
    display: none;
}
.compoDetails{
    font-family: product sans;
    color: grey;
    transition: transform 280ms;
    user-select: none;
}
.compoDetails:focus,
.compoDetails:hover{
    transform: scale(110%);
}
.type{
    color: rgb(85, 85, 85);
}
.addImg{
    width: 80px;
}
.clearSection{
    background: rgba(82, 82, 255, 0.527);
    position: absolute;
    display: none;
    place-content: center;
    height: 10px;
    width: 100%;
    bottom: 0;
    //border-radius: 10rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    transition: width 280ms, border-radius 580ms, height 280ms, opacity 280ms;
    p{
        transition: opacity 280ms, transform 500ms;
        user-select: none;
    }
    p:hover{
        transform: scale(120%);
    }
}
.clearSection:hover{
    height: 100%;
    width: 100%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    p{
        display: block;
        opacity: 100%;
    }
}



//LAyouts
.element{
    margin-right: 1rem;
}
.configName{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.configStatus{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 3rem;
    position: relative;
}
.infoPanel{
    opacity: 0%;
    display: none;
    z-index: 69;
    position: absolute;
    background: rgba(246, 248, 255, 0.911);
    background-blend-mode: overlay;
    width: 100%;
    height: 100%;
    //display: flex;
    flex-direction: column;
    transition: opacity 1080ms;
    transition-timing-function: cubic-bezier(.49,.26,.37,.93);
    .mainHead{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .mainDesc{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .closeBtn{
        position: absolute;
        width: 20px;
        top: 2%;
        right: 5%;
    }
}

.StatsBtn{
    width: 7rem;
    border: 0;
    transition: opacity 280ms;
    transition: color 280ms;
    position: absolute;
    right: 0;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    background: transparent;
    color: #363636;
}
.StatsBtn:hover{
    color: #ff8c8c;
}

.fsPanel{
    position: absolute;
    max-width: 1000px;
    width: calc(100% - 2rem);
    height: 2rem;
    background: rgba(255, 255, 255, 0.856);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    //transition: height 280ms cubic-bezier(.77,.18,.12,.91);
    z-index: 99;
    margin-right: 1rem;
    button{
        border: none;
        width: 7rem;
        //font-family: 'Questrial', sans-serif;
        //font-size: 1rem;
    }
    .optionsBtn{
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
    }
    .OptionBtn{
        width: min-content;
        transition: opacity 280ms;
        transition: color 280ms;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1rem;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        background: transparent;
        color: #363636;
    }
    .OptionBtn:hover{
        color: #8e8cff;
    }
    
    
    .optionPanel{
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        transition: display 280ms;
        transform-origin: left;
    }

    .typeOption{
        margin-top: 2rem;
    }
}

.card1{
    //background: lightblue;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    border-radius: 10px;
    //box-shadow: 0px 5px 10px #0000001a;
    position: relative;
    border: 1px solid rgb(223, 223, 223);
    transition: border-color 280ms, box-shadow 280ms;
    p{
        padding-top: .5rem;
        //padding-left: 1rem;
    }
}
.imageContainer{
    background-image: url("res/images/plus-circle-solid.svg");
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    //background-size: auto 150px;
    background-size: auto 100px;
    background-repeat: no-repeat;
    background-position: center;
    //background: rgb(255, 186, 186);
}
.imageContainerEx{
    width: 100%;
    height: 130px;
    box-sizing: border-box;
    //background-size: auto 150px;
    background-size: auto 100px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 280ms;
    //background: rgb(255, 186, 186);
}
.imageContainerEx:focus,
.imageContainerEx:hover{
    transform: scale(110%);;
}

.card1:focus,
.card1:hover{
    border-color: transparent;
    box-shadow: 0px 5px 10px #0000001a;
}



//GUI COMPONENTS
.radioBtnGroup{
    max-width: 500px;
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    margin-top: .3rem;
    input[type="radio"]{
        display: none;
        width: 40px;
        margin-bottom: .4rem;
    }
    label{
        display: flex;
        align-items: center;
        height: 100%;
        padding: .1rem .7rem .1rem .7rem;
        border: 2px solid;
        margin-right: 1rem;
        border-color: rgb(85, 85, 85);

        font-size: .8rem;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;

        transition: background 280ms color 280ms;
    }
    input[type="radio"]:checked + label{
        background: rgb(85, 85, 85);
        color: white;
        box-shadow: 0px 5px 10px #00000028;
    }
}