@font-face{
    src: url("res/fonts/ProductSans-Regular.ttf");
    font-family: Product Sans;
}
:root{
    --primary-color: rgb(245, 253, 255);
}

*{
    outline: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% - 2rem);
    max-width: 1000px;
    height: 60px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.heading{
    //Font
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
    user-select: none;
}
.nav{
    display: flex;
    flex-direction: row;
    text-align: center;

    //Font
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .1rem;
    text-transform: uppercase;
    a{
        width: 7rem;
        margin-left: 1rem;
        color: white;
        transition: color 280ms, background 280ms;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    a:focus,
    a:hover{
        background: white;
        color: black;
    }
}

.blacky{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100vh;
    background: rgb(20, 20, 20);
    z-index: -69;
    .desktop{
        position: absolute;
        top: 25%;
        margin-left: 10rem;
        width: 10rem;
    }
}

.container{
    width: 100vw;
    height: 100vh;
    max-width: 1000px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    .textArea{
        padding-left: 1rem;
        padding-top: 15rem;
    }
    .belak{
        user-select: none;
        font-size: 3rem;
        font-family: Product Sans;
        text-transform: uppercase;
        color: rgb(68, 68, 68);
        span{
            font-family: Product Sans;
            font-size: 4rem;
            text-transform: capitalize;
            color: black;
        }
    }
    .subInfo{
        width: 70%;
        margin-top: 1rem;
        font-size: 1.2rem;
        word-spacing: .2rem;
        font-family: 'Questrial', sans-serif;
        color: rgb(83, 83, 83);
    }
    .startBtn{
        margin-top: 2rem;
        display: grid;
        place-content: center;
        border: 3px solid rgb(68, 68, 68);
        height: 35px;
        width: 120px;
        text-align: center;
        font-family: Product Sans;
        color: rgb(0, 0, 0);
        font-size: 1.2rem;

        transition: background 280ms ease, color 280ms ease, box-shadow 350ms;
    }
    .startBtn:focus,
    .startBtn:hover{
        color: white;
        background: rgb(68, 68, 68);
        box-shadow: 0px 10px 20px #00000036;
    }
}


@media(max-width: 928px){
    .heading{
        //Font
        font-size: 1.2rem;
        letter-spacing: .1rem;
    }
    .nav{
        display: flex;
        flex-direction: row;
        text-align: center;
        
    
        //Font
        font-size: 1.2rem;
        font-family: 'Raleway', sans-serif;
        letter-spacing: .1rem;
        text-transform: uppercase;
        a{
            color: black;
            padding-left: .2rem;
            padding-right: .2rem;
        }
        a:focus,
        a:hover{
            background: black;
            color: white;
        }
    }
    .container{
        .belak{
            font-size: 2rem;
            span{
                font-size: 3rem;
            }
        }
        .subInfo{
            width: 90%;
            font-size: 1rem;
            word-spacing: .1rem;
            margin-top: .5rem;
        }
        .startBtn{
            margin-top: 1rem;
            height: 30px;
            width: 110px;
            font-size: 1rem;
            border: 2px solid;
        }
    }

    .blacky{
        display: none;
    }
}

@media(max-width: 648px){
    .nav{
        position: absolute;
        display: none;
    }

}