:root {
  --primary-color: rgb(245, 253, 255);
}

@-webkit-keyframes guunAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes guunAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  padding-left: 1rem;
  padding-right: 1rem;
  width: calc(100% - 2rem);
  max-width: 1000px;
  height: 60px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heading {
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.nav a {
  margin-right: 1rem;
  color: white;
}

.blacky {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100vh;
  background: #141414;
  z-index: -69;
}

.blacky .desktop {
  position: absolute;
  top: 25%;
  margin-left: 10rem;
  width: 10rem;
}

.container {
  width: 100vw;
  height: 100vh;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.container .textArea {
  padding-left: 1rem;
  padding-top: 15rem;
}

.container .belak {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 3rem;
  font-family: Product Sans;
  text-transform: uppercase;
  color: #444444;
}

.container .belak span {
  font-family: Product Sans;
  font-size: 4rem;
  text-transform: capitalize;
  color: black;
}

.container .subInfo {
  width: 70%;
  margin-top: 1rem;
  font-size: 1.2rem;
  word-spacing: .2rem;
  font-family: 'Questrial', sans-serif;
  color: #535353;
}

.container .startBtn {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border: 3px solid #444444;
  height: 35px;
  width: 120px;
  text-align: center;
  font-family: Product Sans;
  color: black;
  font-size: 1.2rem;
  -webkit-transition: background 280ms ease, color 280ms ease, -webkit-box-shadow 350ms;
  transition: background 280ms ease, color 280ms ease, -webkit-box-shadow 350ms;
  transition: background 280ms ease, color 280ms ease, box-shadow 350ms;
  transition: background 280ms ease, color 280ms ease, box-shadow 350ms, -webkit-box-shadow 350ms;
}

.container .startBtn:focus,
.container .startBtn:hover {
  color: white;
  background: #444444;
  -webkit-box-shadow: 0px 10px 20px #00000036;
          box-shadow: 0px 10px 20px #00000036;
}
/*# sourceMappingURL=style.css.map */