:root {
  --primary-color: rgb(245, 253, 255);
}

* {
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  position: relative;
  background: #f6f8ff;
}

header {
  width: calc(100% - 2rem);
  height: 60px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.nav button, .nav a, .nav label {
  margin-top: 1rem;
  border: 0;
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .1rem;
  background: transparent;
  color: #818181;
  padding-bottom: .2rem;
  -webkit-transition: color 280ms, border-bottom 280ms;
  transition: color 280ms, border-bottom 280ms;
  margin-left: 1.5rem;
}

.nav button::after, .nav a::after, .nav label::after {
  content: "";
  display: block;
  border-bottom: 3px solid #818181;
  -webkit-transition: border-bottom-color 280ms, -webkit-transform 280ms ease-out;
  transition: border-bottom-color 280ms, -webkit-transform 280ms ease-out;
  transition: transform 280ms ease-out, border-bottom-color 280ms;
  transition: transform 280ms ease-out, border-bottom-color 280ms, -webkit-transform 280ms ease-out;
  -webkit-transform: translateY(5px) scaleX(0%);
          transform: translateY(5px) scaleX(0%);
}

.nav button:hover::after, .nav a:hover::after, .nav label:hover::after {
  -webkit-transform: translateY(5px) scaleX(100%);
          transform: translateY(5px) scaleX(100%);
  border-bottom-color: #131313;
}

.nav button:hover, .nav a:hover, .nav label:hover {
  color: #131313;
}

input {
  margin-top: .5rem;
  padding: .5rem 1rem .3rem 0rem;
  border: 2px solid grey;
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 16rem;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  position: relative;
}

.headerWrapper {
  width: calc(100% - 2.5rem);
  margin-right: 2.5rem;
}

.heading, .panelInfo, .dashboard, .addComponentPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

.dashboard,
.addComponentPanel {
  margin-top: 1rem;
  -webkit-transition: display 280ms, opacity 280ms;
  transition: display 280ms, opacity 280ms;
}

.compoList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

.compoList .row {
  width: calc(100% - 3rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 1rem;
  padding: 1rem;
  -webkit-transition: background 200ms;
  transition: background 200ms;
}

.compoList .row:hover {
  background: #dfdfdf;
}

.compoList .disable {
  position: relative;
  background: #ffe6e6;
}

.compoList .border {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  -webkit-transition: border-color 280ms, -webkit-box-shadow 280ms;
  transition: border-color 280ms, -webkit-box-shadow 280ms;
  transition: border-color 280ms, box-shadow 280ms;
  transition: border-color 280ms, box-shadow 280ms, -webkit-box-shadow 280ms;
}

.compoList .border:hover {
  border-color: transparent;
  -webkit-box-shadow: 0px 2px 10px #0000001a;
          box-shadow: 0px 2px 10px #0000001a;
}

.compoList .separator {
  height: 1px;
  width: calc(100% - 1rem);
  margin-right: 1rem;
  background: #dfdfdf;
}

.compoList .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.compoList .col .price {
  padding: 0;
}

.heading {
  position: fixed;
  top: 0;
  background: #F6F8FF;
  width: 100vw;
  height: 4rem;
}

.panelInfo {
  z-index: 69;
  margin-top: 4rem;
  height: 100px;
}

.dashboard {
  z-index: -70;
}

.addComponentPanel {
  height: 100vh;
  opacity: 0%;
  display: none;
}

.vertCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.bigTitle {
  font-size: 3.5rem;
  font-family: Product Sans;
}

.mediumTitle {
  font-size: 1.6rem;
  font-family: Product Sans;
}

.mediumTitleEx {
  font-size: 1.4rem;
  font-family: Product Sans;
}

.smallTitle {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.smallTitleEx {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.slighlySmallTitle {
  font-size: .8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.pointerCursor {
  cursor: pointer;
}

.notSelectable {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.specsType {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin-bottom: .8rem;
}

.specs {
  font-size: 1.1rem;
  font-family: 'Questrial', sans-serif;
  margin-bottom: .4rem;
}

.btn {
  color: grey;
  font-size: .8rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-left: .5rem;
  padding-right: .5rem;
  border-radius: 50px;
  width: 7rem;
}

.cardBtn {
  width: 5rem;
  font-size: 1rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  border: 2px solid #bdbdbd;
  border-radius: 1rem;
  background: transparent;
  color: #5e5e5e;
  font-family: Product Sans;
  letter-spacing: .1rem;
  -webkit-transition: color 280ms, background 280ms, border-color 280ms;
  transition: color 280ms, background 280ms, border-color 280ms;
}

.cardBtn:focus,
.cardBtn:hover {
  color: white;
  background: #141414;
  border-color: #141414;
}

.rm {
  display: none;
}

.compoDetails {
  font-family: product sans;
  color: grey;
  -webkit-transition: color 280ms;
  transition: color 280ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.compoDetails:focus,
.compoDetails:hover {
  color: #5c5c5c;
}

.type {
  color: #555555;
}

.addImg {
  width: 80px;
}

.clearSection {
  background: rgba(82, 82, 255, 0.527);
  position: absolute;
  display: none;
  place-content: center;
  height: 10px;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  -webkit-transition: width 280ms, border-radius 580ms, height 280ms, opacity 280ms;
  transition: width 280ms, border-radius 580ms, height 280ms, opacity 280ms;
}

.clearSection p {
  -webkit-transition: opacity 280ms, -webkit-transform 500ms;
  transition: opacity 280ms, -webkit-transform 500ms;
  transition: opacity 280ms, transform 500ms;
  transition: opacity 280ms, transform 500ms, -webkit-transform 500ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.clearSection p:hover {
  -webkit-transform: scale(120%);
          transform: scale(120%);
}

.clearSection:hover {
  height: 100%;
  width: 100%;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.clearSection:hover p {
  display: block;
  opacity: 100%;
}

.element {
  margin-right: 1rem;
}

.configName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1rem;
}

.configStatus {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 200px);
  gap: 3rem;
  position: relative;
}

.infoPanel {
  opacity: 0%;
  display: none;
  z-index: 69;
  position: absolute;
  background: rgba(246, 248, 255, 0.911);
  background-blend-mode: overlay;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 1080ms;
  transition: opacity 1080ms;
  -webkit-transition-timing-function: cubic-bezier(0.49, 0.26, 0.37, 0.93);
          transition-timing-function: cubic-bezier(0.49, 0.26, 0.37, 0.93);
}

.infoPanel .mainHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.infoPanel .mainDesc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.infoPanel .closeBtn {
  position: absolute;
  width: 20px;
  top: 2%;
  right: 5%;
}

.StatsBtn {
  width: 7rem;
  border: 0;
  -webkit-transition: opacity 280ms;
  transition: opacity 280ms;
  -webkit-transition: color 280ms;
  transition: color 280ms;
  position: absolute;
  right: 0;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  background: transparent;
  color: #363636;
}

.StatsBtn:hover {
  color: #ff8c8c;
}

.fsPanel {
  position: absolute;
  max-width: 1000px;
  width: calc(100% - 2rem);
  height: 2rem;
  background: rgba(255, 255, 255, 0.856);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 99;
  margin-right: 1rem;
}

.fsPanel button {
  border: none;
  width: 7rem;
}

.fsPanel .optionsBtn {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

.fsPanel .OptionBtn {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-transition: opacity 280ms;
  transition: opacity 280ms;
  -webkit-transition: color 280ms;
  transition: color 280ms;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  background: transparent;
  color: #363636;
}

.fsPanel .OptionBtn:hover {
  color: #8e8cff;
}

.fsPanel .optionPanel {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-transition: display 280ms;
  transition: display 280ms;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.fsPanel .typeOption {
  margin-top: 2rem;
}

.card1 {
  width: 200px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: center;
  border-radius: 10px;
  position: relative;
  border: 1px solid #dfdfdf;
  -webkit-transition: border-color 280ms, -webkit-box-shadow 280ms;
  transition: border-color 280ms, -webkit-box-shadow 280ms;
  transition: border-color 280ms, box-shadow 280ms;
  transition: border-color 280ms, box-shadow 280ms, -webkit-box-shadow 280ms;
}

.card1 p {
  padding-top: .5rem;
}

.imageContainer {
  background-image: url("res/images/plus-circle-solid.svg");
  width: 100%;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  background-size: auto 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.imageContainerEx {
  width: 100%;
  height: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  background-size: auto 100px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-transform 280ms;
  transition: -webkit-transform 280ms;
  transition: transform 280ms;
  transition: transform 280ms, -webkit-transform 280ms;
}

.imageContainerEx:focus,
.imageContainerEx:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.card1:focus,
.card1:hover {
  border-color: transparent;
  -webkit-box-shadow: 0px 5px 10px #0000001a;
          box-shadow: 0px 5px 10px #0000001a;
}

.radioBtnGroup {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 1rem;
  margin-top: .3rem;
}

.radioBtnGroup input[type="radio"] {
  display: none;
  width: 40px;
  margin-bottom: .4rem;
}

.radioBtnGroup label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: .1rem .7rem .1rem .7rem;
  border: 2px solid;
  margin-right: 1rem;
  border-color: #555555;
  font-size: .8rem;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  -webkit-transition: background 280ms color 280ms;
  transition: background 280ms color 280ms;
}

.radioBtnGroup input[type="radio"]:checked + label {
  background: #555555;
  color: white;
  -webkit-box-shadow: 0px 5px 10px #00000028;
          box-shadow: 0px 5px 10px #00000028;
}
/*# sourceMappingURL=style_dashboard.css.map */