:root {
  --primary-color: rgb(245, 253, 255);
}

* {
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  position: relative;
  background: #f6f8ff;
}

input {
  margin-top: .5rem;
  padding: .5rem 1rem .3rem 0rem;
  border: 2px solid grey;
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 16rem;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
}

.heading, .panelInfo, .dashboard, .addComponentPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

.dashboard,
.addComponentPanel {
  margin-top: 1rem;
  -webkit-transition: display 280ms, opacity 280ms;
  transition: display 280ms, opacity 280ms;
}

.heading {
  position: fixed;
  top: 0;
  background: #e7e7e7;
  width: 100vw;
  height: 4rem;
}

.panelInfo {
  z-index: 69;
  margin-top: 4rem;
  height: 100px;
}

.dashboard {
  z-index: -70;
}

.addComponentPanel {
  height: 100vh;
  opacity: 0%;
  display: none;
}

.vertCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.bigTitle {
  font-size: 3.5rem;
  font-family: Product Sans;
}

.mediumTitle {
  font-size: 1.6rem;
  font-family: Product Sans;
}

.mediumTitleEx {
  font-size: 1.4rem;
  font-family: Product Sans;
}

.smallTitle {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.smallTitleEx {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.slighlySmallTitle {
  font-size: .8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.specsType {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin-bottom: .8rem;
}

.specs {
  font-size: 1.1rem;
  font-family: 'Questrial', sans-serif;
  margin-bottom: .4rem;
}

.btn {
  color: grey;
  font-size: .8rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-left: .5rem;
  padding-right: .5rem;
  border-radius: 50px;
  width: 7rem;
}

.cardBtn {
  width: 5rem;
  font-size: 1rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  border: 2px solid #bdbdbd;
  border-radius: 1rem;
  background: transparent;
  color: #5e5e5e;
  font-family: Product Sans;
  letter-spacing: .1rem;
  -webkit-transition: color 280ms, background 280ms, border-color 280ms;
  transition: color 280ms, background 280ms, border-color 280ms;
}

.cardBtn:focus,
.cardBtn:hover {
  color: white;
  background: #141414;
  border-color: #141414;
}

.rm {
  display: none;
}

.compoDetails {
  font-family: product sans;
  color: grey;
  -webkit-transition: -webkit-transform 280ms;
  transition: -webkit-transform 280ms;
  transition: transform 280ms;
  transition: transform 280ms, -webkit-transform 280ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.compoDetails:focus,
.compoDetails:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.type {
  color: #555555;
}

.addImg {
  width: 80px;
}

.element {
  margin-right: 1rem;
}

.configName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1rem;
}

.configStatus {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 200px);
  gap: 3rem;
  position: relative;
}

.infoPanel {
  opacity: 0%;
  display: none;
  z-index: 69;
  position: absolute;
  background: rgba(255, 255, 255, 0.911);
  background-blend-mode: overlay;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 1080ms;
  transition: opacity 1080ms;
  -webkit-transition-timing-function: cubic-bezier(0.49, 0.26, 0.37, 0.93);
          transition-timing-function: cubic-bezier(0.49, 0.26, 0.37, 0.93);
}

.infoPanel .mainHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.infoPanel .mainDesc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.infoPanel .closeBtn {
  position: absolute;
  width: 20px;
  top: 2%;
  right: 5%;
}

.card1 {
  width: 200px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: center;
  border-radius: 10px;
  position: relative;
  border: 1px solid #dfdfdf;
  -webkit-transition: border-color 280ms, -webkit-box-shadow 280ms;
  transition: border-color 280ms, -webkit-box-shadow 280ms;
  transition: border-color 280ms, box-shadow 280ms;
  transition: border-color 280ms, box-shadow 280ms, -webkit-box-shadow 280ms;
}

.card1 p {
  padding-top: .5rem;
}

.imageContainer {
  background-image: url("res/images/plus-circle-solid.svg");
  width: 100%;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: auto 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.imageContainerEx {
  width: 100%;
  height: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: auto 100px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-transform 280ms;
  transition: -webkit-transform 280ms;
  transition: transform 280ms;
  transition: transform 280ms, -webkit-transform 280ms;
}

.imageContainerEx:focus,
.imageContainerEx:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.card1:focus,
.card1:hover {
  border-color: transparent;
  -webkit-box-shadow: 0px 5px 10px #0000001a;
          box-shadow: 0px 5px 10px #0000001a;
}
/*# sourceMappingURL=style_dashboard.css.map */